<div [ngStyle]="{background: 'url(../../assets/bg.jpg )'}" style="width: 80%; padding: 50px;text-align: center">
<form (submit)="loginUser($event)">
  <div>
    <h2>Log In</h2>
    <p>Sign in to your account here.</p>
  </div>
  <div class="input">
    <!--<label>User Name</label>-->
    <input type="text" placeholder="User name" />
  </div>
  <div class="input" >
    <!--<label>Password</label>-->
    <input type="password" placeholder="Password"/>
  </div>
   <div class="input">
      <input type="submit"  value="Login">
    </div>
</form>
</div>