<p style="text-align: right">
  <a routerLink="/">
    <div>
      Logout
    </div>
  </a>
</p>
<div class="container">
  <ul class="list-inline">
    <li><a routerLink="../dashboard">Home</a></li>
    <li><a routerLink="../user">Users</a></li>
    <!--<li><a href="#">Menu 2</a></li>-->
    <!--<li><a href="#">Menu 3</a></li>-->
  </ul>
</div>
