<app-header></app-header>
<app-tabs></app-tabs>
<h3>Users</h3>

<table cellspacing="10" align="center">
  <tr>
    <th></th>
    <th>ID</th>
    <th>NAME</th>
    <th>USER NAME</th>
    <th>EMAIL</th>
    <th>PHONE</th>
    <th>SITE</th>
    <th>ADDRESS</th>
    <th>ZIP CODE</th>
    <th>COMPANY</th>
    <th>PHRASE</th>
  </tr>
  <tr *ngFor="let user of users">
    <td></td>
    <td>{{user.id }} </td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.website}}</td>
    <td>{{user.address.city}}</td>
    <td>{{user.address.zipcode}}</td>
    <td>{{user.company.name}}</td>
    <td>{{user.company.catchPhrase}}</td>
  </tr>
</table>
<!--address: {-->
<!--street: string;-->
<!--suite: string;-->
<!--city: string;-->
<!--zipcde: string;-->
<!--geo: {-->
<!--lat: string;-->
<!--lng: string;-->
<!--}-->
<!--};-->
<!--phone: string;-->
<!--website: string;-->
<!--company: {-->
<!--name: string;-->
<!--catchPhrase: string;-->
<!--bs: string;-->
<!--};table>-->