<app-header></app-header>
<app-tabs></app-tabs>
<h3>Posts</h3>

<table cellspacing="10">
  <tr>
    <th></th>
    <th>ID</th>
    <th>TITLE</th>
    <th>BODY</th>
    <th>USER ID</th>
  </tr>
  <tr *ngFor="let post of posts">
    <td></td>
    <td>{{post.id }} </td>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
    <td>{{post.userId}}</td>
  </tr>
</table>

